version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "Friday"
      time: "06:00"
    assignees:
      - "FeldmeierMichael"
